pipeline/Append.json
{
	"name": "Append",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "arr",
					"value": {
						"value": "@pipeline().parameters.b\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "final",
					"value": {
						"value": "@variables('arr')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"b": {
				"type": "string"
			}
		},
		"variables": {
			"final": {
				"type": "Array",
				"defaultValue": []
			},
			"arr": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5
				]
			}
		},
		"folder": {
			"name": "class_test"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-22T11:10:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}