pipeline/email notification pipeline.json
{
	"name": "email notification pipeline",
	"properties": {
		"activities": [
			{
				"name": "start email",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[start_email]",
						"storedProcedureParameters": {
							"ADFName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"ErrorMessage": {
								"type": "String",
								"value": null
							},
							"pipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"status": {
								"type": "String",
								"value": {
									"value": "@variables('status_start')",
									"type": "Expression"
								}
							},
							"trigertime": {
								"type": "DateTime",
								"value": null
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable7",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "start email",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			}
		],
		"variables": {
			"status_start": {
				"type": "String",
				"defaultValue": "START"
			},
			"status_sucess": {
				"type": "String",
				"defaultValue": "SUCSESS"
			},
			"status_fail": {
				"type": "String",
				"defaultValue": "FAILED"
			}
		},
		"folder": {
			"name": "email notification"
		},
		"annotations": []
	}
}