pipeline/P_For_each.json
{
	"name": "P_For_each",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('arr')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "result",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "output",
					"value": {
						"value": "@variables('result')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"arr": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3
				]
			},
			"result": {
				"type": "Array"
			},
			"output": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "class_test"
		},
		"annotations": [],
		"lastPublishTime": "2023-08-22T11:10:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}